.container{
	width: 100%;
	max-width: 500px;
	margin: 100px auto 0;
	text-align: center;
}
.container .copy h1{
	margin: 0;
}
.container .copy p{
	margin-top: 5px;
	font-weight: 300;
	line-height: 150%;
}

.form{
	background: var(--accent);
	padding: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	border-radius: 4px;

	margin-top: 50px;
}
.form label{
	background: var(--background);
	padding: 5px;
	font-weight: bold;
	flex-basis: 25%;
}
.form input{
	font-size: 1rem;
	flex-basis: 75%;
	padding: 10px;
	background: var(--accent);
	border: 2px solid var(--background);
	color: var(--text);
	outline: none;
}
.form button{
	flex-basis: 15%;
	background: var(--background);
	border: 2px solid var(--background);
	color: var(--text);
	font-size: .9rem;
	cursor: pointer;
}